# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\University\Road-To-Stanford\Sapienza University of Rome\1st semester\ADM\homeworks\HW4\ADM_HW4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
